*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}
 body{
    padding: 200px 0px;
 }
.header{
background-color: aquamarine;
width: 100%;
text-align: center;
padding: 10px;
position: fixed;
top: 0px;
left: 0px;
}
.h3{
    text-align: center;
}
.fullpage{
display: flex;
gap: 20px;
flex-wrap: wrap;
justify-content: center;
margin-top: 50px;
margin-bottom: 10px;
}
.computer h2,.player h2{
border: 1px solid  black;
padding: 5px;
}
.startbtn{
background-color: goldenrod;
color: black;
padding: 5px 10px;
font-size: large;
border-radius: 4px;
border: none;
font-weight: bolder;
}
.bottom{
text-align: center;
margin-top: 20px;
}
@media(max-width:400px) {
    .fullpage{
        margin-top: 150px;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
    }
    .fullpage div{
        width: fit-content;
    }
    body{
        padding: 0px 0px;
    }
}